name: PR Conventional Commit Validation

on:
  pull_request:
    types:
      - edited
      - opened
      - reopened
      - synchronize

jobs:
  validate-pr-title:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: PR Conventional Commit Validation
        uses: ytanikin/pr-conventional-commits@fda730cb152c05a849d6d84325e50c6182d9d1e9 # 1.5.1
        with:
          task_types: '["feat","fix","docs","test","ci","refactor","perf","chore","revert"]'
          add_label: 'false'
