name: E2E Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'

jobs:
  test-e2e:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Clone the code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          persist-credentials: false

      - name: Setup Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version-file: go.mod

      - name: Install the latest version of kind
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/latest/kind-linux-amd64
          chmod +x ./kind
          sudo mv ./kind /usr/local/bin/kind

      - name: Verify kind installation
        run: kind version

      - name: Create kind cluster
        run: kind create cluster

      - name: Running Test e2e
        run: |
          go mod tidy
          make test-e2e
